/* Global style */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* Body style */
body {
  color: black;
  background-color: azure;
}
.lname {
  color: #ebc3c0;
}
a:not(.img-anc) {
  text-decoration: underline;
  color: black;
  display: inline-flex;
  border-radius: 15px 15px;
  border: 5px #76cee8 solid;
  background-color: #76cee8;
  list-style-type: none;
  display: inline-block;
  font-size: 15px;
}
/* Header style */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
h1 {
  color: #a35650;
}
nav ul {
  display: flex;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  list-style: none;
}
nav li {
  margin-left: 20px;
  padding: 0px;
}
/* Hero Style */
.hero {
  max-width: 300px;
  margin: 0 auto;
}
.hero img {
  width: 100%;
  height: auto;
}
/* Info style */
.info {
  width: 100%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: inline grid;
}

.info h2 {
  margin-bottom: 10px;
  text-align: center;
  color: red;
}
.info li {
  margin-bottom: 15px;
}

/* image style */
.My-work .first-web {
  max-height: 300px;
}
.style {
  text-align: center;
}
.Me {
  margin-right: 20px;
  padding: 20px;
  margin-top: 20px;
  clear: both;
  width: 100%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: inline-block;
}
/* This add the affect to the images */
.first-web:hover {
  transform: scale(1.2);
  opacity: 0.3;
  transition: all 0.75s ease;
}
.square {
  list-style-type: square;
}
/* Footer style */
footer {
  text-align: center;
}
.columns {
  display: flex;
  gap: 20px;
  padding: 50px 20px;
}
.col {
  flex: 1;
}
.My-work {
  width: 100%;
  position: relative;
  filter: drop-shadow(0 0 10px black);
  overflow: hidden;
}
.website1 {
  position: absolute;
  bottom: 640px;
  right: 10px;
  color: red;
  text-shadow: 10px;
  font-size: 50px;
}
.My-work .small {
  width: 300px;
  height: 300px;
  padding-bottom: 15px;
}

/* this is for screen resizing and adjustments */
@media screen and (max-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .first-web {
    display: flex;
    width: 100%;
    height: 100%;
  }
}
